/* Resetear estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #000000; /* Color de fondo */
    color: white; /* Color del texto */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.nav-links {
    list-style-type: none; /* Quitar los puntos de la lista */
    display: flex;
}

.nav-links li {
    margin-right: 20px; /* Espacio entre elementos de la lista */
}

.nav-links li a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

.nav-links li a:hover {
    color: #f1f1f1; /* Color del texto al pasar el mouse */
}
